/*--------------reset開始------------------*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,,samp,small,strikestrong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embedfigure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}

body{
    font-family: 微軟正黑體;
}

input{
    border-style: none;
}

/*--------------reset結束------------------*/
.wrap {
    max-width: 90%;
    margin: auto;
}

.header {
    height: 500px;
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) , url("../img/header.jpg");
/*    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) , url("../img/header.jpg");*/
    background-image: -webkit-linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url("../img/header.jpg");
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url("../img/header.jpg");
    
    background-size: cover;
    background-position: center;
    color: white;
}
.slogan{
    width: 80%;
    height: auto;
    margin: auto;
    text-align: center;
    padding: 1em;
}
#select{
    width: 12%;
    color: black;
    margin-right: 3%;
    margin-top: 2%;
}

.content{
    width: 100%;
    display: none;
    height: auto;
    background-color: white;
    line-height: 25px;
}
.pure-table{
    width: 100%;
}

.info{
    text-align: center;
}
.info.name{
    width: 40%;
}
.info.org{
    width: 25%;
}
.tabletd:hover{
    background-color: dimgray;
    color: white;
}

.tabletd.place,.tabletd.date,.tabletd.time{
    text-align: center;
}
.resulta{
    color:black;
}

.footer{
    
    height: 40px;
    background-color:#2c2c8b;
    color: white;
    text-align: center;
    padding: 1em;
}